.App {
  margin:0;
}
.searchInput:focus{
  outline: none;
  border:none;

}
.searchImage{
  width: 20px;
  height:20px;
  margin:0;
  padding: 0;
  color:lightgrey;

}
.editdelImage{
  width: 35px;
  height: 35px;
}






